# Environment variables - JANGAN di-upload ke GitHub!
.env

# Go build output
*.exe
*.exe~
*.dll
*.so
*.dylib
school-be

# Go test
*.test
*.out

docs/

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db